<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>2019乐逗粉丝节</title>
  </head>
  <body>
    <div id="app"></div>
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement('script')
        hm.src = 'https://hm.baidu.com/hm.js?1ed8aec252700582f706982a5cb9b9f6'
        var s = document.getElementsByTagName('script')[0]
        s.parentNode.insertBefore(hm, s)
      })()
    </script>
    <script src="//dl.gamdream.com/activity/lib/vue.min.js"></script>
    <script src="//dl.gamdream.com/activity/lib/zepto.min.js"></script>
    <script src="//dl.gamdream.com/activity/lib/jweixin-1.0.0.js"></script>
  </body>
</html>